.App {
  text-align: center;
}

:root {
      --primary-100: #92d0ac;
      --primary-200: #7cbe98;
      --primary-300: #68aa84;
      --primary: #549670;

          --alert-50: #ff6858;
          --alert-100: #ff4530;
          --alert-200: #ff2108;
          --alert-primary: #df1600;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: var(--primary-300) !important;
    border-color: var(--primary-300) !important;
    font-weight: bold !important;
}

.btn-primary:hover {
  background-color: var(--primary) !important;
}

.alert {
  color: var(--alert-primary) !important
}


